.fight-area {
    display: flex;
    gap: 20px;
}

#char, #monster {
    flex: 1; /* Divide o espaço igualmente entre eles */
}

.life-bar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.life-bar .bar {
    height: inherit; /* irá herdar a altura da .life-bar acima */
    background-color: red;
    border-radius: 5px;
    width: 10%;
}

.log {
    border: 1px dotted #999;
    height: 200px;
    overflow-y: scroll; /* barra de rolagem */
}